<form>
    <div class="row justify-content-md-center gap-3">
        <div class="col-4 justify-content-md-center">
            <h1 class="text-center">EMPLOYÉ 3</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-8" style="box-shadow: 8px 11px 27px 4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 8px 11px 27px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 8px 11px 27px 4px rgba(0,0,0,0.75);">
            <div class="row justify-content-md-center">
                <div class="col-4 justify-content-md-center">
                    <label for="">taches</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>selectionner tache</option>
                        <option value="1">Tache 1</option>
                        <option value="2">Tache 2</option>
                        <option value="3">Tache 3</option>
                    </select>
                </div>
                <div class="col-4 justify-content-md-center">
                    <label for="">durée</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>heures attribués</option>
                        <option value="1">5 heures</option>
                        <option value="2">10 heures</option>
                        <option value="3">15 heures</option>
                    </select>
                </div>
                <div class="col-2 justify-content-md-center">
                    <div class="row justify-content-md-center"><label for="">heures disponibles:</label></div>
                    <div class="row justify-content-md-center"><label for="">0</label></div>
                </div>
                <div class="col-1 justify-content-md-center">
                    <div class="row justify-content-md-center"><label for="">attribuer</label></div>
                    <div class="row justify-content-md-center"><button class="btn btn-primary" disabled="true">+</button></div>
                </div>
            </div>
        </div>
    </div>
  </form>
